<% @answer.each do |t| %>
<div class="Quiz">
  <%= t.id %>
  <%= t.question %><br>
   <% if t.right_answer == @answer.body %>
     正解です
    <% else %>
     不正解 正解は<%= t.right_answer %>です
   <% end %>

   if @answer.kekka
     正解です
   else
     不正解 正解は<%= @anwser.Quiz.right_answer %>です
   end

   if body === @answer.body
     # seikai
     @answer.kekka = true
   else
    # huseikai
     @answer.kekka = false
   end
</div>
<% end %>

Quiz.create(question: 'アイデンティティ', right_answer: 'identity', user_id: 1)
Quiz.create(question: '動物園', right_answer: 'zoo', user_id: 1)
Quiz.create(question: 'エンジニア', right_answer: 'engineer', user_id: 1)
Quiz.create(question: '群衆', right_answer: 'crowd', user_id: 1)
Quiz.create(question: '案内人', right_answer: 'guide', user_id: 1)
Quiz.create(question: '隣人', right_answer: 'neighbor', user_id: 1)
Quiz.create(question: '注文する', right_answer: 'order', user_id: 1)
Quiz.create(question: '横切る', right_answer: 'cross', user_id: 1)
Quiz.create(question: '選ぶ', right_answer: 'select', user_id: 1)
Quiz.create(question: '成功する', right_answer: 'succeed', user_id: 1)
Quiz.create(question: '受け取る', right_answer: 'receive', user_id: 1)
Quiz.create(question: '所属する', right_answer: 'belong', user_id: 1)
