<div class="container">
  <div class="row">

    <div class="col-sm-1">
    </div>

    <div class="col-sm-10 text-center">
      <%= form_with model: @answer, scope: :answer do |f|  %>
      <% @quizzes.each do |t| %>
      <%= t.question %>
      <%= f.text_field "#{t.id}", class: "form-control float-right col-sm-8" %>
      <hr>
      <% end %>
      <%= f.submit '回答する', class: "btn btn-primary"%>
      <% end %>
    </div>

    <div class="col-sm-1">
    </div>

  </div>
</div>
